.square#board
  .ingredient.draggable
    %p Cookie
  .ingredient.draggable{style: 'left: 41px;'}
    %p Ice Cream
  .ingredient.draggable{style: 'left: 82px'}
    %p Frosting    
  .wrapper.draggable.droppable
    %P Cupcake
  :javascript
    var wrapper_position;
    $(".ingredient").draggable({collide: 'flag'});
    $('.wrapper').draggable({axis: 'x', 
    containment: '#board',
    start: function(event,ui) {
      //replace this stuff with logic that retrieves the current position of the .wrapper
      console.log('event', event);
      console.log('ui',ui);
      wrapper_position = ui.position.left;
    }
    });
    $('.wrapper').droppable({
      drop: function( event, ui ) {
        $( this )
        .css({'background-color' : 'green'})
        .text($(ui.draggable).text())
        ui.draggable.fadeOut();
      }
    });   
    function drop_topping() {
      charIsFalling = true;
      $('.ingredient').animate({
          marginTop : ($('.ingredient').parent().height() - $('.wrapper.draggable.droppable').height() - $('.ingredient').height()) + 'px',
        }, {
          duration: 2000,
          easing: "linear",
      });
    }
    $(document).ready(function(){
      drop_topping();
    })

