#scoreboard
  #start_game
    %input#start{:type => "button", :value => "start"}/
    / %input#pause{:type => "button", :value => "pause"}/
  #cupcake_image
  #cupcake_image
    / %img(src="/cupcake_cross_section.jpeg")
  .score
    %h4#shapes
      To Make Your Cupcake, Catch A:
      /I was thinking to that when a correct ingredient is added, we can use .empty() to remove the text.
      %h5.cookie_text 
        * Cookie Base
      %h5.ic_text 
        * Ice Cream
      %h5.frosting_text 
        * Frosting
      %h5.topping_text 
        * Topping
    %br
    %h4 Current Points: 
    %h4#points    

.square#board
  / .ingredient.draggable
  /   %p Cookie
  / .ingredient.draggable{style: 'left: 41px;'}
  /   %p Ice Cream
  / .ingredient.draggable{style: 'left: 82px'}
  /   %p Frosting    
  / .wrapper.draggable.droppable
  /   %P Cupcake


// if the right ingredient is on an x-axis position that matches the current wrapper_position, then append the ingredient to the wrapper. 
