#cupcake_image
.score
.square#board
  .ingredient.draggable
    %p Cookie
  .ingredient.draggable{style: 'left: 41px;'}
    %p Ice Cream
  .ingredient.draggable{style: 'left: 82px'}
    %p Frosting    
  .wrapper.draggable.droppable
    %P Cupcake
  :javascript
    $(".ingredient").draggable({collide: 'flag'});
    $('.wrapper').draggable({axis: 'x', containment: '#board'});
    $('.wrapper').droppable({
      drop: function( event, ui ) {
        $( this )
        .css({'background-color' : 'green'})
        .text($(ui.draggable).text())
        ui.draggable.fadeOut();
      }
    });   
    function drop_topping() {
      charIsFalling = true;
      $('.ingredient').animate({
          marginTop : ($('.ingredient').parent().height() - $('.wrapper.draggable.droppable').height() - $('.ingredient').height()) + 'px',
        }, {
          duration: 2000,
          easing: "linear",
      });
    }
    $(document).ready(function(){
      drop_topping();
    })

// if the right ingredient is on an x-axis position that matches the current wrapper_position, then append the ingredient to the wrapper. 
