#scoreboard
  #start_game
    %input#start{:type => "button", :value => "start"}/
    lives
    %img.lives(src="/cupcake1.jpg")
    %img.lives(src="/cupcake2.jpg")
    %img.lives(src="/cupcake3.jpg")
    / %input#pause{:type => "button", :value => "pause"}/
  #cupcake_image
    %p model cupcake
    / %img(src="/cupcake_cross_section.jpeg")
  #cupcake_in_progress
    / #cookie
    / #ice_cream
    / #frosting
    / #topping
  .score
    %h4#shapes
      To Make Your Cupcake, Catch A:

      %h5.cookie_text 
        * Cookie Base
      %h5.ic_text 
        * Ice Cream
      %h5.frosting_text 
        * Frosting
      %h5.topping_text 
        * Topping
    %br
    %h4 Current Points: 
    %h4#points    

.square#board



