<!DOCTYPE html>
<html>
  <head>
    <meta content="text.html; charset=UTF-8" http-equiv="Content-type">
  </head>
  <body>
    <%= @user.email %>:
    <h1>This is a warning to your pusher account</h1>
    <p>Your account has reached its limit, please upgrade to a paid plan: <%= @url %></p>

  </body>
</html>