#container {
  background: url('/cupcakes2.jpg') center center no-repeat;
  background-size: cover;
}

#navbar {
  height: 67px;
  width: 0 auto;
  text-align: center;
  background-color: #00a1cf;
}
#title_nav a{
  color: #ffe105;
  text-decoration: none;
}

#logo {
  padding: 2px;
}
#login {
  text-align: left;
  background-color: #f4b6c3;
  color: #e51f30;
  height: 
}
#scoreboard {
  height: 400px;
  width: 200px;
  float: left;
}

#topping_model {
  background-color: pink;
  height: 25px;
}

#frosting_model {
  background-color: green;
  height: 25px;
}

#ice_cream_model {
  background-color: yellow;
  height: 25px;
}

#cookie_model {
  background-color: orange;
  height: 25px;
}

.clicked_ingredient {
  height: 25px;
  font-size: 9px;
}
/*#cookie {
  background-image:url('/cookie.jpg');
}*/

#life1 {
  height: 46px;
  width: 46px;
  border: white;
}
#life2 {
  height: 46px;
  width: 46px;
  border: white;
}
#life3 {
  height: 46px;
  width: 46px;
  border: white;
}
.score {
  width: 200px;
  height: 241px;
  border: 1px dashed #01a3ca;
  background-color: white;
  float: left;
  padding: 7px;
}
#cupcake_image {
  width: 100px;
  height: 100px;
  border: 1px dashed #e61735;
  position: relative;
  margin-bottom: 10px;
}

#cupcake_in_progress {
  width: 100px;
  height: 100px;
  border: 1px dashed #e61735;
  position: relative;
  margin-bottom: 10px;
}

#start_game {
  width: 60px;
  height: 60px;
  float: right;
  position: relative;
  margin-bottom: 10px;
}

#icon {
  height: 13px;
  width:9px;
  background-color: none;
  margin-top: 2px;
}


#content {
  width: 850px;
  margin: 0 auto;
  height: 600px;
  background-color: rgba(255,250,250,0.5);
  padding: 20px;

}

#instructions {
  position: relative;
  background-color: white;
  /*color: #00a1cf;*/
  width: 600px;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

h4 {
  color: #006ab5;
}
.square {
  height: 500px;
  margin: 0 auto;
  width: 600px;
  position: relative;
  border: 1px dashed #ff5697;
  float: right;
  margin-left: auto;
  margin-right: auto;
  float: right;
  background-color: white;
}

#winning {
  height: 150px;
  width: 500px;
  border: 1px dashed yellow;
  margin: 0 auto;
  text-align: center;
}

.ingredient {
  width: 40px;
  height: 40px;
  background-color: gray;
  border: 1px solid black;
  position: absolute;
}
#win {
  margin-top: 20px;
  color: #e51f30;
}

#win.content {
  background-image: url('cupcake-size.jpg');
}

img {
  /*border: 1px solid black;*/
  float: left;
  height: 150px;
  width: 150px;
}

