#navbar {
  height: 20px;
  width: 0 auto;
  text-align: center;
}

#inner-navbar {
  text-align: left !important;
}

.square {
  height: 600px;
  margin: 100px;
  width: 600px;
  position: relative;
  border: 1px dashed black;
}


.box {
  width: 70px;
  height: 70px;
  background-color: blue;
  border: 1px solid black;
  position: absolute;
  bottom: 0;
}
