#navbar {
  height: 50px;
  width: 0 auto;
  text-align: center;
  background-color: yellow;
}
#logo {
  padding: 2px;
}
#login {
  text-align: left;
}
#scoreboard {
  height: 400px;
  width: 200px;
  float: left;
}
.score {
  width: 200px;
  height: 275px;
  border: 1px dashed black;
  float: left;
}
#cupcake_image {
  width: 100px;
  height: 100px;
  border: 1px dashed black;
  position: relative;
  margin-bottom: 10px;
}


#content {
  width: 850px;
  margin: 0 auto;
  height: 1000px;
}

.square {
  height: 500px;
  margin: 0 auto;
  width: 600px;
  position: relative;
  border: 1px dashed black;
  float: right;
  margin-left: auto;
  margin-right: auto;
  float: right;
}

.ingredient {
  width: 40px;
  height: 40px;
  background-color: gray;
  border: 1px solid black;
  position: absolute;
}

img {
  border: 1px solid black;
  float: left;
  height: 150px;
  width: 150px;
}

.wrapper {
  width: 70px;
  height: 70px;
  background-color: blue;
  border: 1px solid black;
  position: absolute;
  bottom: 0;
/*  left: 300px;*/
/*  text-align: center;*/
}
