#navbar {
  height: 50px;
  width: 0 auto;
  text-align: center;
  background-color: yellow;
}
#logo {
  padding: 2px;
}
#login {
  text-align: left;
}
.score {
  width: 200px;
  height: 300px;
  border: 1px dashed black;
  float: left;
}
#cupcake_image {
  width: 100px;
  height: 100px;
  border: 1px dashed black;
  position: relative;
}

#content {
  width: 850px;
  margin: 0 auto;
  height: 1000px;
}

.square {
  height: 600px;
  margin: 0 auto;
  width: 600px;
  position: relative;
  border: 1px dashed black;
  float: right;
}

.ingredient {
  width: 40px;
  height: 40px;
  background-color: gray;
  border: 1px solid black;
  position: absolute;
}

  label {
    position: absolute;
    top: 1px;
    right: 1px;
    border-bottom-left-radius: 1em;
    background-color: #FDD634;
    padding: 0.2em 1em;
    .latin {
      font-size: 1.4em;
      font-style: italic;
    }
  }
.wrapper {
  width: 70px;
  height: 70px;
  background-color: blue;
  border: 1px solid black;
  position: absolute;
  bottom: 0;
/*  text-align: center;*/

